div.contacts-div p{
	text-decoration-line: overline;
	text-decoration-color: pink;
	color: white;
	font-size: 20px;
}
div.contacts-div img{
	height: 200px;
	width: 300px;
	border-radius: 30px;
	border-color: #6ca1ac;
	border-style: ridge;
	border-collapse:separate ;
	float: right;
}
.contacts{
	font-family: cursive;
	font-variant: small-caps;
	color: #1f9e40;
}