table {
  overflow: hidden;
  
}

tr:hover {
  background-color: rgba(0, 204, 255,0.2);
  
}
tr{
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

td, th {
  position: relative;
}

td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 204, 255,0.2);
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}