table.schedule-table {
  overflow: hidden;
}

table.schedule-table > tr:hover {
  background-color: rgba(0, 204, 255,0.2);
  
}
table.schedule-table > tr{
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

table.schedule-table >td,
table.schedule-table >th {
  position: relative;
}

table.schedule-table > td:hover::after,
table.schedule-table > th:hover::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 204, 255,0.2);
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}